@font-face {
  font-family: Euclid;
  src: url("../fonts/Euclid/Euclid\ Circular\ A\ Medium.ttf");
}
@font-face {
  font-family: NY;
  src: url("../fonts/NewYork/NewYork\ PERSONAL\ USE.otf");
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #272422;
  --main-text-color: #fff;
  --secondary-text-color: #999;
  --hover-color: #e8bf96;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
}

h1,
h2,
h3,
h4,
button,
strong,
a,
.white,
.footer-list {
  color: var(--main-text-color);
}

p,
.grey {
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.7rem;
  border: 1px solid #3c3636;
  border-radius: 120px;
  padding: 3rem;
}

.hover-color {
  color: var(--hover-color);
}

.hover-img {
  display: none;
}

/* # header + nav */

.main-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  height: 8.5rem;
  margin: auto 5rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-list li {
  padding: 2rem;
  margin: 3rem 0;
}

.nav-list li a {
  text-align: right;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.logo {
  height: 4rem;
}

/* # main */

/* !section one:home */

#home {
  background: url("../img/background.png") no-repeat center;
  background-size: contain;
}

.big-home-wrapper {
  width: 75vw;
  margin: 8rem auto 0 auto;
  display: flex;
}

.big-home-header {
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.play-logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid var(--hover-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.big-home-header :is(h1, h2) {
  text-align: center;
  font-family: NY, Arial, Helvetica, sans-serif;
  font-size: 22rem;
  font-weight: 400;
  line-height: 19rem;
  padding-left: 9rem;
}

.big-home-header h3 {
  text-align: center;
  font-family: NY, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.big-home-header h3:first-of-type {
  padding-top: 4rem;
}

.big-home-header h3:last-of-type {
  padding-bottom: 13rem;
}

.big-header-img-container {
  position: relative;
}

.deko-stripes {
  position: absolute;
  top: -4.5rem;
  left: -4.5rem;
}

/* small container first*/

.header-img-container {
  display: inline-block;
  padding-top: 19rem;
}

.header-img-container .text-section {
  padding-top: 11rem;
  display: flex;
  justify-content: space-between;
}

.header-img-container .home-wrapper {
  display: flex;
  flex-direction: column;
}

.header-img-container .home-wrapper p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.stars {
  width: 5rem;
  object-fit: contain;
}

.arrow {
  width: 2.5rem;
  object-fit: contain;
}

/* small container first*/
.header-gif-container {
  display: inline-block;
  width: 40%;
}

.header-gif-container img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.gif-text-section {
}

.gif-text-section p {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  padding-left: 14rem;
  padding-right: 7rem;
  padding-top: 22rem;
}

/* work code, remove latter */
:not(.main-header) img:not(section#home img):not(.main-header img) {
  display: none;
}

/* !section two:about */

/* !section three:work */

/* !section four:service */

/* !section five:blog */

/* !section six:award */

/* !section seven:contact */

/* #footer */
