*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #272422;
  --main-text-color: #fff;
  --secondary-text-color: #999;
  --hover-color: #e8bf96;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
button,
strong,
a,
.footer-list {
  color: var(--main-text-color);
}

p {
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
