@font-face {
  font-family: Euclid;
  src: url("../fonts/Euclid/Euclid\ Circular\ A\ Medium.ttf");
}
@font-face {
  font-family: NY;
  src: url("../fonts/NewYork/NewYork\ PERSONAL\ USE.otf");
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #272422;
  --main-text-color: #fff;
  --secondary-text-color: #999;
  --hover-color: #e8bf96;
  --lines-color: #3c3636;
  --main-width: 75vw;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
}

h1,
h2,
h3,
h4,
button,
strong,
a,
.white,
.footer-list {
  color: var(--main-text-color);
}

h1,
h2,
h3 {
  font-family: NY, Arial, Helvetica, sans-serif;
}

p,
.grey {
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.7rem;
  border-radius: 83.92px;
  border: 1px solid var(--lines-color);
  padding: 3.3rem 3.5rem;
}

.hover-color {
  color: var(--hover-color);
}

/* # header + nav */

.main-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  height: 8.5rem;
  border-bottom: 1px solid var(--lines-color);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding-right: 5rem;
}

.nav-list li {
  padding: 2rem;
  margin: 3rem 0;
}

.nav-list li a {
  text-align: right;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.logo {
  height: 4rem;
  padding-left: 5rem;
}

/* # main */

/* !section one:home */

#home {
  background: url("../img/background.png") no-repeat center;
  background-size: contain;
  position: relative;
  margin: 0 auto;
}

.big-home-wrapper {
  width: var(--main-width);
  margin: 0 auto 11rem auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8rem;
}

.big-home-header {
  width: calc(var(--main-width) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  margin: 0 auto;
}

.play-logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid var(--hover-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.big-home-header :is(h1, h2) {
  text-align: center;
  font-size: 22rem;
  font-weight: 400;
  line-height: 19rem;
}

.big-home-header h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.big-home-header h3:first-of-type {
  padding-top: 4rem;
}

.big-home-header h3:last-of-type {
  padding-bottom: 13rem;
}

.big-header-img-container {
  position: relative;
}

.deko-stripes {
  position: absolute;
  top: -4.5rem;
  left: -4.5rem;
}

/* small container first*/

.header-img-container {
  width: calc(var(--main-width) / 3);
  display: inline-flex;
  flex-direction: column;
  padding-top: 26rem;
}

.img-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-img-blond {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.img-text-wrapper .text-section {
  padding-top: 17rem;
  display: flex;
  justify-content: space-around;
}

.header-img-container .home-wrapper {
  display: flex;
  flex-direction: column;
}

.header-img-container .home-wrapper p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.stars {
  width: 5rem;
  object-fit: contain;
}

.arrow {
  width: 2.5rem;
  object-fit: contain;
}

/* small container first*/

.header-gif-container {
  display: inline-block;
  width: calc(var(--main-width) / 3);
  position: relative;
  height: auto;
}

.header-gif {
  height: 50vh;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.gif-text-section p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  width: 90%;
  padding-top: 30%;
  padding-left: 30%;
  margin: 0 auto;
  overflow: visible;
}

.curly-arroy {
  position: absolute;
  bottom: 14rem;
  right: 0;
}

/* !section two:about */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--main-width);
  margin: 0 auto;
  border-bottom: 1px solid var(--lines-color);
}

#about h2 {
  font-size: 10rem;
  font-weight: 400;
  line-height: 11rem;
}

#about span {
  display: block;
  text-align: center;
}

#about p {
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  width: 80rem;
  padding-top: 1.7rem;
  padding-bottom: 7.2rem;
}

/* !section three:work */

#work {
  width: var(--main-width);
  margin: 0 auto;
  overflow: hidden;
}

/* same styles in header of work & blog */

.same-header {
  position: relative;
}

.same-header h2 {
  font-size: 10rem;
  font-weight: 400;
  line-height: 10rem;
}

.same-header h2 span {
  display: block;
}

.same-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.5rem;
}

.same-line {
  width: 15vw;
  height: 1px;
  background-color: var(--main-text-color);
}

.same-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem;
  max-width: 63rem;
  margin-left: 4rem;
  margin-right: 14vw;
  flex-shrink: 1;
}

.same-button {
  position: absolute;
  right: 0;
}

/* only work section */

.work-team {
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 21% 20% 9% 9% 20% 21%;
  grid-template-rows: 10.5vh repeat(2, 20.5vh) 10.5vh repeat(2, 20.5vh);
  row-gap: 10vw;
}

.big1 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.small1 {
  grid-column: 5/7;
  grid-row: 2/4;
  margin-bottom: 3vh;
}

.small2 {
  grid-column: 1/3;
  grid-row: 5/7;
  margin-bottom: 3vh;
}

.big2 {
  grid-column: 4/7;
  grid-row: 4/7;
}

.work-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-pic {
}

.sm-pic {
}

.sm-one {
}

.sm-two {
}

/* hover */

.hover-text-container {
  display: none;
  /* position: absolute; 
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.214);
  height: auto;
  width: auto;
  margin-top: 10rem; */
}

.img-hover:hover + .hover-text-container {
  /* display: inline-block; */
}

.hover-text-container p {
  color: var(--main-text-color);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 75.8px;
}
.hover-text-container h2 {
  font-family: NY, Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 7.5rem;
}

.lastname {
  display: block;
}

/* !section four:service */

#service {
  width: var(--main-width);
  margin: 0 auto;
}

.hover-img {
  display: none;
}

/* !section five:blog */
#blog {
  width: var(--main-width);
  margin: 0 auto;
}

/* !section six:award */

.award-bg {
  background: url("../gif/sparkler.gif") no-repeat center;
  background-size: cover;
  height: 80vh;
}

.main-width {
  width: var(--main-width);
  margin: 0 auto;
}

/* !section seven:contact */

/* #footer */
