*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #272422;
}

h1,
h2,
h3,
h4,
button,
strong,
.footer-list {
  color: #fff;
}

p {
  color: #999;
}
